// --------Color variables ----------
$primaryColor: #4056A1;
$whiteColor: #FFFFFF;
$lightGreyColor: #E9E9EB;
$lowGreyColor: #F5F5F7;
$middleGreyColor: #999999;
$blackColor: #2E2E33;
$successColor: #00B177;
$redColor: #FF0000;
$ratingColor: #F26A61;
$hitColor: #F23C30;
$hitDarkColor: #D9362B;